/* General Styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b7d3c;
    height: 100vh;
    width: 100vw; /* ✅ This ensures horizontal centering works */
  }
  
  
  .form-container {
    background-color: #53b774;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .logo{
  position: relative;
  width: 60%;
  height: auto;
  left: 20%;
}
  
  h2 {
    text-align: center;
    color: #1e2228;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    color: #1e2228;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }
  
  input:focus {
    border-color: #3182ce;
    box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
  }
  
  
  .text-center {
    text-align: center;
  }
  
  .text-gray-600 {
    color: #718096;
  }
  
  .text-blue-500 {
    color: #3182ce;
  }
  
  .text-blue-500:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: #e53e3e; /* Red for error messages */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-link {
    text-align: center;
    margin-top: 16px;
    color: #4a5568;
    font-size: 14px;
  }
  
  .form-link a {
    color: #3182ce;
    text-decoration: none;
  }
  
  .form-link a:hover {
    text-decoration: underline;
  }
  